.main{
  display: flex;
  justify-content: center;
  height: 100vh;
}

.div {
  background-image: linear-gradient(60deg, #abecd6 0%, #fbed96 100%);
  border-radius: 20px;
  padding: 10px;
  width: 90%;
  height: 500px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  overflow-y: scroll;
}


.section {
  height: 100vh;
  margin: 8px;
  padding: 8px;
}
.card {
  
  height: 98%;
  width: 100%;
  display: flex;
  justify-content: center;
  border-radius: 20px;
}
.card_body {
  height: 100%;
  width: 90%;
  border-radius: 20px; 
 
}

.img {
  padding: 3px;
  border-radius: 20px;
  width: 190px;
  height: 200px;
}
.div_total {
  display: flex;
  justify-content: center;
  
  padding: 8px;
  margin: 8px;
 
}
.total {
  padding: 4px;
  height: 400px;
  width: 400px;
  border-radius: 20px;
}
.total_pay {
  margin: 4px;
  padding: 4px;
  display: flex;
  justify-content: center;
  
}
