.card {
  padding: 10px;
  max-height: 540px;
  min-height: 450px;
  border: none;
  margin: 4px;
}

.imagen {
  width: 320px;
  height: 340px;
  border-radius: 30px;
  transition: transform 0.2s;
  object-fit: cover;
}

.card:hover .imagen {
  transform: scale(1.1);
}
.navigate{
 display: flex;
 justify-content: space-evenly;
 align-items: flex-start;
}

.slide {
  max-width: 1000px;
  margin: 50px auto;
  padding-top: 6px;
}
.description {
  background-image: url(https://gmedia.playstation.com/is/image/SIEPDC/battlefield-2042-store-art-01-en-22jun21?$800px$);
  background-attachment: fixed;
  object-fit: cover;
  border-radius: 25px;
}
.img {
  border-radius: 30px;
  object-fit: cover;
  width: 900px;
  height: 500px;
}
