.card {
  padding: 10px;
  max-height: 560px;
  min-height: 450px;
  border: none;
  margin: 4px;
}

.imagen {
  width: 320px;
  height: 340px;
  border-radius: 30px;
  transition: transform 0.2s;
  object-fit: cover;
}

.card:hover .imagen {
  transform: scale(1.1);
}
.navigate {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}

.slide {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 30 px;
  max-width: 800px;
  margin: 10px auto;
}
.img {
  object-fit: cover;
  width: 800px;
  height: 400px;
}

.price {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  font-size: large;
  font-weight: 200;
}
.description {
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.15) 0%,
      rgba(0, 0, 0, 0.15) 100%
    ),
    radial-gradient(
        at top center,
        rgba(255, 255, 255, 0.4) 0%,
        rgba(0, 0, 0, 0.4) 120%
      )
      #989898;
  background-blend-mode: multiply, multiply;
  padding: 6px;
  border-radius: 20px;
}

.sectionButton {
  display: flex;
  justify-content: center;
  margin-left: 10px;
  margin-top: 3px;
}
.button {
  padding: 4px;
}

.sectionCover {
  height: 90vh;
  width: 100%;
}
