@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Poppins:ital,wght@0,700;1,400&family=Praise&display=swap');

body {
    
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    font-family:'Poppins';
    background-image: linear-gradient(to right, #d7d2cc 0%, #304352 100%); 
   
   
    
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
 